.container{
    display: grid;
    font-size: 12.5px;
    width: 100%;
    background: LightGray;
    grid-template-columns: 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px ;
    grid-template-rows: 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px 37.5px  ;
}





/*  .d1{background: LightSkyBlue;}
    .d2{background: LightSalmon;}
    .d3{background: PaleTurquoise;}
    .d4{background: LightPink;}
    .d5{background: PaleGreen;}
*/
