/* MS 2022/04/16 semi-colons after } have been throwing errors. */
.container{
    display: grid;
    width: 400px;
    height: 500px;
    background: LightGray;
    grid-template-rows: 16.667% 66.667% 16.667%;
    }

    .subgrid1{
    display: grid;
    grid-template-columns: 1fr;
    }


    .subgrid2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

        .subgrid2-buttons{
            width: 100%;
            height: 100%;
        }

    .subgrid3{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr;

    }
/*  .d1{background: LightSkyBlue;}
    .d2{background: LightSalmon;}
    .d3{background: PaleTurquoise;}
    .d4{background: LightPink;}
    .d5{background: PaleGreen;}
*/
